<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/addUniversity">
        <label>universityName</label><input type="text" id="universityName">
        <label>university Wallet Address</label><input type="text" id="universityWalletAddress">
        <label>university Lisence Number</label><input type="text" id="universityLisence">
        <label>Apoorved by Gov</label><input type="text" id="universityApprove">
        <button type="submit">Add</button>
    </form>

    <script src="../js/addUniversity.js"></script>
</body>
</html>