




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../adminstyle.css">
</head>
<body>
    <div class="container row pt-1 mt-2 " align="center" style="width: 200%; height:69vh;">
        <div class="text col-lg-8 py-5 mt-5 "  >
            <h1 class="px-5 mt-5 pt-5" id="hhhh">
                <span class="fw-bolder d-block ms-5"style="color: yellow;" align="left">Verifier</span><span class="fw-bolder animated-text-2" >Registration</span>
             </h1>
        </div>
        <div id="form-section" class="container col-lg-4 mt-2 py-5 px-4">
            <form class="admin-form row  px-3 py-5 my-5" id="registerForm" enctype="multipart/form-data">
                <div class="form-group px-4 pt-3 col-lg-12">
                    <legend class="legend">Company Name</legend>
                    <input  type="text" id="companyName" name="companyName" class="form-control" placeholder="Enter your name" required>
                </div>
                <div class="form-group px-4 pt-5 col-lg-12">
                    <legend class="legend">Enter Email</legend>
                    <input type="email" id="companyEmail" name="companyEmail" class="form-control"  placeholder="Enter Email" required>
                </div>
                <div class="form-group px-4 pt-5 col-lg-12">
                    <legend class="legend">Enter Password</legend>
                    <input type="password" id="companyPassword" name="companyPassword" class="form-control" placeholder="Enter Password" required>
                </div>
                <div class="col-lg-5  px-4 pt-3 mt-3" align="left">
                    <button type="submit" id="submit" class="btn btn-lg  fw-bolder form-btn  px-5 mt-4" >Register</button>
                </div>
                <div class="col-lg-5  px-5 pt-3 mt-3" align="left" style="margin-left: 30px;">
                    <p>Already Register? <a href="/login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
        <div class="textBackground2" style="height: 30vh; width: 100%">
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.7.2/ethers.umd.min.js" integrity="sha512-FDcVY+g7vc5CXANbrTSg1K5qLyriCsGDYCE02Li1tXEYdNQPvLPHNE+rT2Mjei8N7fZbe0WLhw27j2SrGRpdMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../js/verifierRegister.js"></script>
</body>
</html>
