<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/register"> 
        <label>Company Name<input type="text" id="companyName"></label>
        <label>Your Email <input type="email" id="companyEmail"></label>
        <label>Password <input type="text" id="companyPassword"></label>
        <button type="submit">Register</button>
    </form>
</body>
</html>